<h1>My Dashboard</h1>
  <% if @requested_bookings.any? %>
    <div class="card">
      <h5 class="card-header">Requested Bookings</h5>
      <div class="row">
        <div class="col-sm-6">
        <% @requested_bookings.each do |booking| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= booking.licorne.name %></h5>
              <p class="card-text"><%= booking.date %></p>
              <p class="card-text"><%= booking.user.first_name %> <%= booking.user.last_name %></p>
              <a href="#" class="btn btn-primary">Confirm Booking</a>
              <a href="#" class="btn btn-primary">Deny Booking</a>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @pending_bookings.any? %>
    <div class="card">
      <h5 class="card-header">Pending Bookings</h5>
      <div class="row">
        <div class="col-sm-6">
        <% @pending_bookings.each do |booking| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= booking.licorne.name %></h5>
              <p class="card-text"><%= booking.date %></p>
              <p class="card-text"><%= booking.licorne.user.first_name %> <%= booking.licorne.user.last_name %></p>
              <a href="#" class="btn btn-primary">Cancel Booking</a>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>
  <% if @confirmed_bookings.any? %>
    <div class="card">
      <h5 class="card-header">Confirmed Bookings</h5>
      <div class="row">
        <div class="col-sm-6">
        <% @confirmed_bookings.each do |booking| %>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= booking.licorne.name %></h5>
              <p class="card-text"><%= booking.date %></p>
              <p class="card-text"><%= booking.licorne.user.first_name %> <%= booking.licorne.user.last_name %></p>
              <a href="#" class="btn btn-primary">Cancel Booking</a>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% if current_user.licornes.any? %>
    <div class="card">
      <h5 class="card-header">My Licornes</h5>
      <% current_user.licornes.each do |licorne| %>
        <div class="card-licorne">
          <div class="licorne-img">
            <%= image_tag "licorne01" %>
          </div>
          <div class="licorne-infos">
            <li>NAME: <%= licorne.name %></li>
            <li>AGE: <%= licorne.age %> years old</li>
            <li>SUPERPOWER: <%= licorne.superpower %></li>
          </div>
          <div class="btn">
            <%= link_to "Update Infos", licorne_path(licorne) %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

<div class="btn">
  <%= link_to "Add a Licorne to Airlicorne", new_licorne_path() %>
</div>
