<h1>My Dashboard</h1>


<% if current_user.licornes.empty? %>
  <h4>Pending bookings: </h4>
  <ul>
    <% @pending_bookings.each do |booking| %>
      <li><%= booking.date %> - <%= booking.licorne.name %> (<%= booking.licorne.user.first_name %> <%= booking.licorne.user.last_name %>)</li>
    <% end %>
  </ul>

  <h4>Confirmed bookings: </h4>
  <ul>
    <% @confirmed_bookings.each do |booking| %>
      <li><%= booking.date %> - <%= booking.licorne.name %> (<%= booking.licorne.user.first_name %> <%= booking.licorne.user.last_name %>)</li>
    <% end %>
  </ul>
<% else %>
  <h4>Requested Bookings: </h4>
  <ul>
    <% @requested_bookings.each do |booking| %>
      <li><%= booking.date %> - <%= booking.user.first_name %> <%= booking.user.last_name %> with <%= booking.licorne.name %></li>
    <% end %>
  </ul>

  <h4>Pending bookings: </h4>
  <ul>
    <% @pending_bookings.each do |booking| %>
      <li><%= booking.date %> - <%= booking.licorne.name %> (<%= booking.licorne.user.first_name %> <%= booking.licorne.user.last_name %>)</li>
    <% end %>
  </ul>

  <h4>Confirmed bookings: </h4>
  <ul>
    <% @confirmed_bookings.each do |booking| %>
      <li><%= booking.date %> - <%= booking.licorne.name %> (<%= booking.licorne.user.first_name %> <%= booking.licorne.user.last_name %>)</li>
    <% end %>
  </ul>

  <h4>My licornes: </h4>
  <ul>
    <% current_user.licornes.each do |licorne| %>
      <li><%= licorne.name %> - <%= licorne.price %> (<%= licorne.superpower %> <%= licorne.age %>)</li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Add my Licorne to Airlicorne", new_licorne_path() %>
