<div class="card-licorne-map">
  <div class="licorne-img-map">
    <%= cl_image_tag licorne.photo.key %>
  </div>
  <div class="licorne-infos">
      <li>NAME: <strong><%= licorne.name %></strong></li>
      <li>AGE: <strong><%= licorne.age %> years old</strong></li>
      <li>SUPERPOWER: <strong><%= licorne.superpower %></strong></li>
      <li>ADDRESS: <strong><%= licorne.user.address %></strong></li>
  </div>
  <div class="d-flex justify-content-end">
    <div class="btn btn-sm">
      <%= link_to "#{licorne.price}€", licorne_path(licorne) %>
    </div>
  </div>
</div>
