<div class="title text-center">
  <h1>UNCOVER THE SECRETS OF OUR UNICORNS</h1>
</div>
<div class="container">
 <% @licornes.each do |licorne| %>
   <div class="card-licorne">
     <div class="licorne-img">
       <%= cl_image_tag licorne.photo.key %>
     </div>
     <div class="licorne-infos">
         <li>NAME: <strong><%= licorne.name %></strong></li>
         <li>AGE: <strong><%= licorne.age %> years old</strong></li>
         <li>SUPERPOWER: <strong><%= licorne.superpower %></strong></li>
         <li>ADDRESS: <strong><%= licorne.user.address %></strong></li>
     </div>
     <div class="d-flex justify-content-end">
       <div class="btn btn-sm">
         <%= link_to "#{licorne.price}€", licorne_path(licorne) %>
       </div>
     </div>
    </div>
  <% end %>
</div>

<div class="d-flex justify-content-center mt-5 mb-5">
    <div style="width: 1000px; height: 600px;"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


  <div class="d-flex justify-content-center mt-5 mb-5">
    <div class="btn btn-lg">
      <%= link_to "Register my licorne", new_licorne_path %>
    </div>
  </div>
</div>
