<h3>Create a new unicorn</h3>
<%= simple_form_for @licorne do |f| %>
  <%= f.input :name, placeholder: 'name' %>
  <%= f.input :age %>
  <%= f.input :superpower %>
  <%= f.input :price %>
  <%= f.submit class: 'btn btn-flat' %>
<% end %>
