<div class="container-licorne">
  <div class="card-licorne-large">
    <h2 class="card-title ps-3"><%= @licorne.name %></h2>
    <div class="d-flex justify-content-between mt-3">
      <div class="col-4 ps-3"><%= cl_image_tag @licorne.photo.key, height: 300, width: 400, crop: :fill %></div>
      <div class="col-8 ms-5">
        <div class="d-flex justify-content-start mt-1">
          <p class="col md-6">Age :</p>
          <p class="col md-6"><%= @licorne.age %></p>
        </div>
        <div class="d-flex justify-content-between mt-1">
          <p class="col md-6">Superpower :</p>
          <p class="col md-6"><%= @licorne.superpower %></p>
        </div>
        <div class="d-flex justify-content-between mt-1">
          <p class="col md-6">Owner Name :</p>
          <p class="col md-6"><%= @licorne.user.first_name %> <%= @licorne.user.last_name %></p>
        </div>
        <div class="d-flex justify-content-between mt-1">
          <p class="col md-6">Address :</p>
          <p class="col md-6"><%= @licorne.user.address %></p>
        </div>
        <div class="d-flex justify-content-end pe-5 mt-5">
          <p class="test"><%= @licorne.price %>€</p>
        </div>
      </div>
    </div>

    <% unless current_user == @licorne.user %>
      <div class="d-flex justify-content-end mt-5">
        <div class="btn a" style="padding: 20px"><%= link_to "Book now", new_licorne_booking_path(@licorne) %></div>
      </div>
    <% end %>

    <div class="d-flex justify-content-start mt-5">
      <span class="link-licorne">
        <i class="fa-solid fa-horse"> </i>
        <%= link_to "See all licornes", licornes_path, class:"link" %>
      </span>
    </div>
  </div>
</div>
